* {
    outline: 1px solid #aaa;
}

.section-logos {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 30px;
}

.section-logos__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.section-logos__item {
    width: 130px;
    height: 100px;
}

@media screen and (max-width: 1440px) {
    .section-logos {
        padding: 40px 0;
    }

    .section-logos__item {
        width: 98px;
        height: 75px;
    }
}

@media screen and (max-width: 600px) {
    .section-logos {
        padding: 10px 0;
    }

    .section-logos__item {
        width: 50px;
        height: 38px;
    }
}