.link-button {
    display: block;
    margin: 0;
    padding: 0 0 4px 0;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family, sans-serif);
    font-size: 30px;
    font-weight: var(--font-weight-bold, 700);

    background-color: var(--button-normal-background-color);

    border-radius: var(--border-radius, 10px);
}
